<a href="https://colab.research.google.com/github/ikonthomas/SchoolPlay/blob/master/MANGO_News_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Libraries Importing
import re
import nltk
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
english_stemmer=nltk.stem.SnowballStemmer('english')

from sklearn.feature_selection.univariate_selection import SelectKBest, chi2, f_classif
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
from sklearn.linear_model import SGDClassifier, SGDRegressor,LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import random
import itertools

import sys
import os
import argparse
from sklearn.pipeline import Pipeline
from scipy.sparse import csr_matrix
from sklearn.feature_extraction.text import CountVectorizer
import six
from abc import ABCMeta
from scipy import sparse
from scipy.sparse import issparse
from sklearn.base import BaseEstimator, ClassifierMixin
from sklearn.utils import check_X_y, check_array
from sklearn.utils.extmath import safe_sparse_dot
from sklearn.preprocessing import normalize, binarize, LabelBinarizer
from sklearn.svm import LinearSVC

from keras.preprocessing import sequence
from keras.utils import np_utils
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation, Lambda
from keras.layers.embeddings import Embedding
from keras.layers.recurrent import LSTM, SimpleRNN, GRU
from keras.preprocessing.text import Tokenizer
from collections import defaultdict
from keras.layers.convolutional import Convolution1D
from keras import backend as K
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import cm
%matplotlib inline
plt.style.use('ggplot')

Using TensorFlow backend.

In [0]:
#Data Importing Returns_News file
#we'll use all of the dates up to the end of 2014 as our training data and 2015 going forward as testing data.

data = pd.read_csv('https://raw.githubusercontent.com/ikonthomas/SchoolPlay/master/Returns_News.csv')
#train = data[data['Date'] < '2015/01/01']
#test = data[data['Date'] > '2014/12/31']
train = pd.read_csv('https://raw.githubusercontent.com/ikonthomas/SchoolPlay/master/Returns_News_Train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/ikonthomas/SchoolPlay/master/Returns_News_Test.csv')

In [0]:
data.head()

         Date  ...                                              Top10
0  02/01/2009  ...  b'Israels Goal - Ending Hamas Rule, Rocket Fir...
1  05/01/2009  ...  b'Several European countries say they have suf...
2  06/01/2009  ...  b'"Almost a third of the 689 Palestinians kill...
3  07/01/2009  ...          b'Gaza is full-blown humanitarian crisis'
4  08/01/2009  ...  b"Atheist Bus Campaign is 'offensive', say 50 ...

[5 rows x 12 columns]

In [0]:
train.tail(10)

            Date  ...                                              Top10
1500  17/12/2014  ...                   Putin's cronies lose $50 billion
1501  18/12/2014  ...  Zakiur Rehman Lakhvi, the main accused in the ...
1502  19/12/2014  ...  80% of British Public Want Greens Included in ...
1503  22/12/2014  ...            UK officials named in pedophile dossier
1504  23/12/2014  ...  US Corporations claim billion in Assets in Cub...
1505  24/12/2014  ...  Australia records biggest emissions drop in a ...
1506  26/12/2014  ...  Court clears way for clinically dead pregnant ...
1507  29/12/2014  ...  Thirty-seven children whose parents were kille...
1508  30/12/2014  ...   Russian ruble drops 7 percent as economy shrinks
1509  31/12/2014  ...        Militant mistakenly broadcasts his location

[10 rows x 12 columns]

In [0]:
test.head()

         Date  ...                                              Top10
0  02/01/2015  ...  Norway violated equal-pay law, judge says: Jud...
1  05/01/2015  ...                       India lost 64 tigers in 2014
2  06/01/2015  ...  New York Times reporter James Risen refused on...
3  07/01/2015  ...  Massive hunt underway for gunmen in Paris terr...
4  08/01/2015  ...  Two Charlie Hebdo attackers located in north F...

[5 rows x 12 columns]

In [0]:
#Processing our Data
#Transforming the news headlines into the number of words.

trainheadlines = []
for row in range(0,len(train.index)):
    trainheadlines.append(' '.join(str(x) for x in train.iloc[row,2:27]))
basicvectorizer = CountVectorizer()
basictrain = basicvectorizer.fit_transform(trainheadlines)
print(basictrain.shape)

(1510, 20918)

In [0]:

#Algorithm: Logic Regression

#Input: the counts of single words

basicmodel = LogisticRegression()
basicmodel = basicmodel.fit(basictrain, train["Label"])
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
basictest = basicvectorizer.transform(testheadlines)
preds1 = basicmodel.predict(basictest)
acc1=accuracy_score(test['Label'], preds1)
print('Logistic Regression 1 accuracy: ',acc1 )

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Logistic Regression 1 accuracy:  0.4880952380952381

The accuracy is only 49%

In [0]:
basicwords = basicvectorizer.get_feature_names()
basiccoeffs = basicmodel.coef_.tolist()[0]
coeffdf = pd.DataFrame({'Word' : basicwords, 
                        'Coefficient' : basiccoeffs})
coeffdf = coeffdf.sort_values(['Coefficient', 'Word'], ascending=[0, 1])
coeffdf.head()

          Word  Coefficient
17375       so     0.777398
11422    makes     0.746689
1512   another     0.605534
8632     hamas     0.573705
20339       we     0.554730

In [0]:
coeffdf.tail()

          Word  Coefficient
17996   strike    -0.552088
9742   injured    -0.582503
3812     chief    -0.599710
19343   turkey    -0.665417
4767   country    -0.718426

Logistic Regression 2


Input: the counts of phrases with two connected words(exclude words which are too common like "a" ,"an" ,"the" and words too uncommon of which counts are too small )

We delete phrases of which frequency lower than 0.03 or higher than 0.97

In [0]:
advancedvectorizer = TfidfVectorizer( min_df=0.03, max_df=0.97, max_features = 200000, ngram_range = (2, 2))
advancedtrain = advancedvectorizer.fit_transform(trainheadlines)
print(advancedtrain.shape)

(1510, 178)

In [0]:
advancedmodel = LogisticRegression()
advancedmodel = advancedmodel.fit(advancedtrain, train["Label"])
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
advancedtest = advancedvectorizer.transform(testheadlines)
preds2 = advancedmodel.predict(advancedtest)
acc2=accuracy_score(test['Label'], preds2)
print('Logistic Regression 2 accuracy: ', acc2)

Logistic Regression 2 accuracy:  0.5357142857142857

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

We see an improvement when using phrases that previously with single words

In [0]:
advwords = advancedvectorizer.get_feature_names()
advcoeffs = advancedmodel.coef_.tolist()[0]
advcoeffdf = pd.DataFrame({'Words' : advwords, 
                        'Coefficient' : advcoeffs})
advcoeffdf = advcoeffdf.sort_values(['Coefficient', 'Words'], ascending=[0, 1])
advcoeffdf.head()

         Words  Coefficient
110   than the     1.641290
101   right to     1.415258
85       of an     1.324453
10   and other     1.252696
168     we are     1.124815

In [0]:
advcoeffdf.tail()

          Words  Coefficient
174   world war    -0.908041
119    the last    -0.918783
145     to give    -0.947991
43       he was    -0.983150
123  the police    -1.012975

**Logic Regression 3**

Input: the counts of phrases with three connected words(exclude words which are too common like "a" ,"an" ,"the" and words too uncommon of which counts are too small )

In [0]:
advancedvectorizer = TfidfVectorizer( min_df=0.0039, max_df=0.1, max_features = 200000, ngram_range = (3, 3))
advancedtrain = advancedvectorizer.fit_transform(trainheadlines)
print(advancedtrain.shape)

(1510, 770)

In [0]:
advancedmodel = LogisticRegression()
advancedmodel = advancedmodel.fit(advancedtrain, train["Label"])
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
advancedtest = advancedvectorizer.transform(testheadlines)
preds3 = advancedmodel.predict(advancedtest)
acc3 = accuracy_score(test['Label'], preds3)
print('Logic Regression 3 accuracy: ', acc3)

Logic Regression 3 accuracy:  0.5

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

The accuracy is slightly lower at 50% than input of phrases with two connected words.

In [0]:
advwords = advancedvectorizer.get_feature_names()
advcoeffs = advancedmodel.coef_.tolist()[0]
advcoeffdf = pd.DataFrame({'Words' : advwords, 
                        'Coefficient' : advcoeffs})
advcoeffdf = advcoeffdf.sort_values(['Coefficient', 'Words'], ascending=[0, 1])
advcoeffdf.head()

            Words  Coefficient
723    up in arms     1.068703
191   he has been     1.051623
301  it turns out     0.988381
568  the lives of     0.983618
142   for all the     0.979222

**Naive Bayes**

NB 1

In [0]:
advancedvectorizer = TfidfVectorizer( min_df=0.1, max_df=0.7, max_features = 200000, ngram_range = (1, 1))
advancedtrain = advancedvectorizer.fit_transform(trainheadlines)
print(advancedtrain.shape)

(1510, 180)

In [0]:
advancedmodel = MultinomialNB(alpha=0.01)
advancedmodel = advancedmodel.fit(advancedtrain, train["Label"])
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
advancedtest = advancedvectorizer.transform(testheadlines)
preds4 = advancedmodel.predict(advancedtest)
acc4=accuracy_score(test['Label'], preds4)
print('NBayes 1 accuracy: ', acc4)

NBayes 1 accuracy:  0.5317460317460317

In [0]:
advwords = advancedvectorizer.get_feature_names()
advcoeffs = advancedmodel.coef_.tolist()[0]
advcoeffdf = pd.DataFrame({'Words' : advwords, 
                        'Coefficient' : advcoeffs})
advcoeffdf = advcoeffdf.sort_values(['Coefficient', 'Words'], ascending=[0, 1])
advcoeffdf.head()

    Words  Coefficient
142  that    -4.248585
59    has    -4.312148
13     as    -4.324112
27     by    -4.348073
51   from    -4.389266

In [0]:
advcoeffdf.tail()

        Words  Coefficient
139      stop    -5.805594
43   european    -5.812780
44       even    -5.813698
172   without    -5.848278
19        bbc    -5.893120

Naive Bayes 2

In [0]:
advancedvectorizer = TfidfVectorizer( min_df=0.03, max_df=0.2, max_features = 200000, ngram_range = (2, 2))
advancedtrain = advancedvectorizer.fit_transform(trainheadlines)
print(advancedtrain.shape)

(1510, 171)

In [0]:
advancedmodel = MultinomialNB(alpha=0.0001)
advancedmodel = advancedmodel.fit(advancedtrain, train["Label"])
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
advancedtest = advancedvectorizer.transform(testheadlines)
preds5 = advancedmodel.predict(advancedtest)
acc5 = accuracy_score(test['Label'], preds5)
print('NBayes 2 accuracy: ', acc5)

NBayes 2 accuracy:  0.5079365079365079

In [0]:
advwords = advancedvectorizer.get_feature_names()
advcoeffs = advancedmodel.coef_.tolist()[0]
advcoeffdf = pd.DataFrame({'Words' : advwords, 
                        'Coefficient' : advcoeffs})
advcoeffdf = advcoeffdf.sort_values(['Coefficient', 'Words'], ascending=[0, 1])
advcoeffdf.head()

           Words  Coefficient
79   north korea    -4.132569
39      has been    -4.149692
169     year old    -4.223944
40     have been    -4.327065
36      from the    -4.328559

In [0]:
advcoeffdf.tail()

           Words  Coefficient
32        end of    -5.809781
139      to give    -5.817873
114  the israeli    -5.832433
119   the police    -5.885780
167    world war    -5.955652

## Random Forest

In [0]:
#RF 1
advancedvectorizer = TfidfVectorizer( min_df=0.01, max_df=0.99, max_features = 200000, ngram_range = (1, 1))
advancedtrain = advancedvectorizer.fit_transform(trainheadlines)
print(advancedtrain.shape)

(1510, 2460)

In [0]:
advancedmodel = RandomForestClassifier()
advancedmodel = advancedmodel.fit(advancedtrain, train["Label"])
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
advancedtest = advancedvectorizer.transform(testheadlines)
preds6 = advancedmodel.predict(advancedtest)
acc6 = accuracy_score(test['Label'], preds6)
print('RF 1 accuracy: ', acc6)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RF 1 accuracy:  0.4642857142857143

RandomForest 2

In [0]:
#RF 2
advancedvectorizer = TfidfVectorizer( min_df=0.03, max_df=0.2, max_features = 200000, ngram_range = (2, 2))
advancedtrain = advancedvectorizer.fit_transform(trainheadlines)
print(advancedtrain.shape)

(1510, 171)

In [0]:
advancedmodel = RandomForestClassifier()
advancedmodel = advancedmodel.fit(advancedtrain, train["Label"])
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
advancedtest = advancedvectorizer.transform(testheadlines)
preds7 = advancedmodel.predict(advancedtest)
acc7 = accuracy_score(test['Label'], preds7)
print('RF 2 accuracy: ', acc7)

RF 2 accuracy:  0.5

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

## Gradient Boosting Machines
GBM 1

In [0]:
advancedvectorizer = TfidfVectorizer( min_df=0.1, max_df=0.9, max_features = 200000, ngram_range = (1, 1))
advancedtrain = advancedvectorizer.fit_transform(trainheadlines)
print(advancedtrain.shape)

(1510, 183)

In [0]:
advancedmodel = GradientBoostingClassifier()
advancedmodel = advancedmodel.fit(advancedtrain, train["Label"])
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
advancedtest = advancedvectorizer.transform(testheadlines)
preds8 = advancedmodel.predict(advancedtest.toarray())
acc8 = accuracy_score(test['Label'], preds8)
print('GBM 1 accuracy: ', acc8)

GBM 1 accuracy:  0.5833333333333334